<?xml version="1.0"?>
<launch>

  <arg name="world_name" default="worlds/empty.world"/> <!-- $(find algo)/algo -->
  <arg name="robot_namespace" default="/husky_unal"/>

  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
  </include>

  <!-- Spawn Husky -->
  <include file="$(find husky_rycsv)/launch/spawn_husky.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
  </include>

</launch>